@import url('file:///home/bluedrack/.cache/wal/colors.css');
.main {
    background-color: var(--color0);
    color: white;
    font-family: "Source Code Pro";
}
.text {
}
.header {
    position: relative;
    /*align-content: center;*/
    display: block;
    text-align: center;
    margin: 0 auto;
    color: var(--color1);

}

.items {
    list-style-type: none;
    position: relative;
    /*left: 50%;*/
    text-align: center;
    /*margin: 0;*/
}

ul {
    /*text-align: center;*/
    list-style-type: none;
}
a { 
    text-decoration: none;
    color : var(--color0);
    margin: 10;
    display: inline-block;
    display: block;
    padding: 20px;
    background-color: var(--color4);
}